# Testnet Configuration
# NETUID=249
# SUBTENSOR_NETWORK=test
# SUBTENSOR_ADDRESS=wss://test.finney.opentensor.ai:443

# Mainnet Configuration (uncomment when ready)
NETUID=59
SUBTENSOR_NETWORK=finney
SUBTENSOR_ADDRESS=wss://entrypoint-finney.opentensor.ai:443

# Miner (Agent) Configuration
## Wallet Settings
WALLET_NAME=trungnam299
HOTKEY_NAME=subnet59
MINER_PORT=8082

# Blacklist any validators without at least n staked
MIN_STAKE_THRESHOLD=0

## Place your verification tweet ID here
TWEET_VERIFICATION_ID=1873346770979402071

# System Configuration
DEBUG=false
